/* .munna-bg-img{
    background-image: url(images/working.png);
    width: ;
} */
.succecfull-students-thumbanail div img{
    width: 100%;
    height: auto;
    border-radius: 10px;

}

.courses-cards div img{

     width: 100%;
    height: auto;
    border-radius: 10px;

}